body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


body {
}

.btn-primary {
  color: #ffffff;
  /*background-color: #428bca;
        border-color: #357ebd;
  */
  background-color: #FFBF00;  
  border-color: #E0A800;  
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  /*background-color: #3276b1;
  border-color: #285e8e;*/  
  background-color: #E0A800;
  border-color: #E0A800;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  background-image: url("Images/BlaBlaRunImg.png");
  background-size: 100%;
  background-repeat: no-repeat;
       display: block;
     width: 150px;
     height: 100%;
     text-indent: -9999px; /* hides the link text */
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; 
   
}

.navbar-inverse {
  /*background-color: #222222;      
  border-color: #080808;
  */
  background-color: #FFFFFF;  
  border-color: #DDDDDD;  
}


.navbar-inverse .navbar-text {
  /*color: #999999;*/ 
  color: #333333;
}

.navbar-inverse .navbar-nav > li > a {
  /*color: #999999;*/  
  color: #333333;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  /*color: #ffffff;*/
    color: #0CA9FA;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #dddddd;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #0CA9FA;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#0CA9FA;

}

.navbar-inverse .navbar-toggle:hover  .icon-bar{
  background-color:#ffffff

}

.jumbotron {
  padding: 0px;
    position: relative;
    z-index: 2;
    margin: 0 -25px;        
  padding: 0px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  background-image: url("Images/iStock_000012873107Medium.jpg");
  /*background-position:center;*/
  /*background-size: 100%;*/
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.jumbotron .hp-hero-banner {
    position: absolute;
    width: 100%;
    /*background: #fff;
    background: rgba(255,255,255,0.4);*/
}


.jumbotron .hp-hero-banner h2 {
    margin: 8px 25px;
}
.size16 {
    font-size: 16px !important;
}
.dark-gray {
    color: #666;
}

.jumbotron h1 {
  line-height: 1;
  color: #fff;


}

.jumbotron .hp-hero-search {
    padding: 90px 0 63px;
    margin-left: 55px;
}

.jumbotron .hp-hero-search h1 {
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.25);
}

.margin-half-bottom {
    margin-bottom: 9px !important;
}


.jumbotron p {
  line-height: 1.4;
}

.container .jumbotron {
  border-radius: 6px;
}

.jumbotron .hp-hero-search button {
    border-width: 1px;
}

.btn-large {
    padding: 6px 14px;
    font-size: 18px;
    line-height: normal;
}

.btn-2action {
    display: inline-block;
    margin-bottom: 0px;
    padding: 4px 10px 4px;
    line-height: 18px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #ffbf00;
    border: 1px solid #ffbf00;
    border-bottom: 2px solid #e0a800;
    font-weight: normal;
    border-radius: 3px;
    box-shadow: none;
}


.size22 {
    font-size: 22px !important;
}

.jumbotron .hp-hero-footer {
    padding: 17px 25px;
    background: rgba(0,0,0,0.3);
}

.jumbotron .hp-hero-footer h2 {
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}

.margin-bottom {
    margin-bottom: 17px !important;
}

.align-center {
    text-align: center !important;
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 0px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
  }
  .jumbotron h1 {
    font-size: 63px;
  }
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


.header-padding {
    padding: 5px;
}

.float-left {
    float:left;
    padding: 5px;
}

.row-wrapper {
    width: 500px;
    overflow: auto; /* so the size of the wrapper is alway the size of the longest content */
}
