@model IEnumerable<BlaBlaRunProject.Domain.Concrete.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles.css">
    <!-- Polyfill(s) for older browsers -->
    <script src="../node_modules/core-js/client/shim.min.js"></script>
    <script src="../node_modules/zone.js/dist/zone.js"></script>
    <script src="../node_modules/reflect-metadata/Reflect.js"></script>
    <script src="../node_modules/systemjs/dist/system.src.js"></script>
    <script src="../app/Users//config/systemjs.config.js"></script>
    <script>
      System.import('appUsers').catch(function(err){ console.error(err); });
    </script>
</head>


<app-Users-List homeWindowRefreshInterval="0"
                        clientUrl="@Url.Action("GetAllUsers", "Users")"
                        columnNames="Id,AspNetUserId,UserName"
                        itemSelectecUrl="@Url.Action("Edit", "Vessel")">
        Loading...
</app-Users-List>

@section scripts
{
    <link href="~/Content/DataTables/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/jquery.dataTables.css">


    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>

}
