@{
    ViewBag.Title = "Que hacemos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Gracias a esta aplicación web no te volvera a dar pereza salir a entrenar. Encuentra gente de tu zona que salga a correr y únete a ellos haciendo un sólo click.</p>
