@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    C/Ercilla 32<br />
    Madrid 28005<br />
    <abbr title="Phone">P:</abbr>
    620742542
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">info@blablarun.es</a><br />
</address>